.green {
    background: #006666;
}

/***SPLASH** */

.splash-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 250px;
    animation-name: logo;
    animation-duration: .4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.logo-in-page {
    width: 200px;
}

@keyframes logo {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/***W3SCHOOLS***/
body,
h1,
h2,
h3,h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/* INPUTS */
.input-styles {
    height: 50px;
}

/* BUTTONS */

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 30px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	
	font-size: 15px;
	color: #FFF;
	text-decoration: none;	
}


.green-button
{
	background-color: #006666;
	
	
}



.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/* MODAL */

.modal {
    display:none;
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color:#f4f4f4;
    margin: 20% auto;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:1s;
  }
  
  .modal-header h2, .modal-footer h3 {
    margin:0;
  }
  
  .modal-header {
    background:#006666;
    padding:15px;
    color:#fff;
  }
  
  .modal-body {
    padding:10px 20px;
  }
  
  .modal-footer {
    background:#006666;
    padding:10px;
    color:#fff;
    text-align: center;
  }
  
  .closeBtn {
    color:#ccc;
    float: right;
    font-size:30px;
    color:#fff;
  }
  
  .closeBtn:hover,.closeBtn:focus {
    color:#000;
    text-decoration: none;
    cursor:pointer;
  }
  
  @keyframes modalopen {
    from{ opacity: 0}
    to {opacity: 1}
  }